body {
  overflow: hidden;
  position: fixed;
}

.site-body {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.container {
  margin: 45px 60px;
}

#nav {
  display: inline;
}

#nav-container {
  width: 90vw;
}

div.link {
  position: relative;
  z-index: 10;
  display: inline;
  padding: 0px 20px;
  float: right;
  font-family: "Roboto","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

a {
  color: #D8232E;
  text-decoration: none;
}

h1, h2 {
  font-family: Oswald, "Roboto","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  color: white;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 250;
}

p {
  font-family: "Roboto","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  color: white;
  margin: 40px 0px;
}

#umd-logo {
  width: 20em;
}

#chrome-store-btn {
  width: 18em;
}

#text-container {
  vertical-align: middle;
  height: 100vh;
  position: relative;
}

#text-content {
  max-width: 25em;
  margin: 0;
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
}

#triangle {
  position: absolute;
  z-index: -10;
  background-color: #D8232E;
  border-radius: 100px;
  width: 150vw;
  height: 150vh;
  transform: translate(-121vw, -30vh) rotate(-25deg);
}

#demo-screen {
  margin: auto;
  position: absolute;
  transform: translateX(30vw);
  zoom: 108%;
}

#screengrab {
  width: 915px;
  position: absolute;
  z-index: 1;
  bottom: 200px;
  left: 145px;
  overflow: hidden;
  float: right;
}

#computer {
  position: absolute;
  z-index: 2;
  bottom: 120px;
}

@media only screen and (max-width: 1390px) {
  /* body {
    background-color: green;
  } */

  #triangle {
    width: 150vw;
    height: 150vh;
    transform: translate(-115vw, -40vh) rotate(-25deg);
  }
}

@media only screen and (max-width: 800px) {
  #nav {
    display: none;
  }

  .container {
    margin: 10px 20px;
  }

  #triangle {
    width: 400vw;
    height: 100vh;
    transform: translate(-100vw, -110vh) rotate(-60deg);
  }

  #text-container {
    text-align: center;
  }

  #text-content {
    padding-top: 4em;
    top: 0%;
    transform: translateY(0);
    max-width: 400px;
    margin: auto;
    position: relative;
  }

  #demo-screen {
    position: absolute;
    float: left;
    margin: auto;
    left: -22em;
    zoom: 60%;
  }

  #screengrab {
    width: 915px;
    position: absolute;
    z-index: 1;
    bottom: 200px;
    left: 145px;
    overflow: hidden;
    float: right;
  }

  #computer {
    position: absolute;
    z-index: 2;
    bottom: 120px;
  }

  h1, h2 {
    line-height: 1.2;
    font-weight: 250;
    margin-bottom: 0px;
  }

  p {
    font-size: 1.1em;
    margin: 10px 0px 25px 0px;
  }
}

/* iPhone 7 Plus */
@media only screen and (max-width: 600px) {
  #nav {
    display: none;
  }

  #umd-logo {
    margin-top: -50px;
  }

  #demo-screen {
    position: absolute;
    bottom: -2em;
    float: left;
    zoom: 45% !important;
  }
}

/* iPhone 7 */
@media only screen and (max-width: 400px) {
  #chrome-store-btn {
    width: 230px;
    margin-top: 20px;
  }

  p {
    display: none;
  }
}

/* iPhone 5 */
@media only screen and (max-width: 375px) {
  .container {
    margin: 0px;
  }

  #umd-logo {
    width: 80%;
  }

  h1 {
    font-size: 1.4em;
  }

  #chrome-store-btn {
    width: 150px;
    margin-top: 10px;
  }

  p {
    display: none;
  }

  #demo-screen {
    bottom: -2em;
    float: left;
    left: -500px !important;
  }
}
